.header {
    display:flex;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 5px solid white;
    align-items: center;
}

.header_logo{
    height: 70px;
    object-fit: contain;
}

.header_icon{
    padding: 20px;
}